<div>
    User info
    <ul>
        <li>{{ auth.user.id }}</li>
        <li>{{ auth.user.firstName }}</li>
        <li>{{ auth.user.lastName }}</li>
        <li>{{ auth.user.email }}</li>
        <li>{{ auth.user.username }}</li>
    </ul>

    <div style="width: 500px; background:#eee; margin: 0 auto;">
        <app-form [formData]="form"></app-form>
    </div>
</div>
