#login-wrapper
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  background: #1F2C38

.logo
  align-self: center
  height: 100px
  width: 100px
  background: url(/assets/images/logo.png) no-repeat center center
  background-size: contain

form
  display: flex
  flex-direction: column
  width: 350px
  background: #f8f8f8
  padding: 50px

button
  width: 100px
  align-self: center
  padding: 5px 10px