#login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: #1F2C38; }

.logo {
  -ms-flex-item-align: center;
      align-self: center;
  height: 100px;
  width: 100px;
  background: url(/assets/images/logo.png) no-repeat center center;
  background-size: contain; }

app-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  background: #f8f8f8;
  padding: 50px; }

button {
  width: 100px;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 5px 10px; }
