<div id="login-wrapper">
    <div class="logo"></div>
    <app-form [formData]="form"></app-form>

    <div>
        {{ 'pages.login.test' | translate:variableTest }}
    </div>
    |<button (click)="changeLang('da')">DA</button>|<button (click)="changeLang('en')">EN</button>|
</div>

