<div class="input-wrapper" [formGroup]="form">
    <input
            name="{{ name }}"
            type="{{ type }}"
            value="{{ value }}"
            (blur)="blur($event)"
            [ngClass]="{'has-value': hasContent}"
            formControlName="{{ name }}">
    <label for="{{ name }}">{{ placeholder }}</label>
    <div *ngIf="!control.valid && !control.untouched" style="background: cornflowerblue">Error stuffz!</div>
</div>