.input-group
  position: relative
  margin-top: 25px

.input-wrapper
  position: relative
  margin-bottom: 10px
  label
    +position(absolute, 50% null null 10px)
    transform: translateY(-50%)
    pointer-events: none
    transition: all 200ms

  input
    background: none
    border: none
    border-bottom: 1px solid
    padding: 5px 10px
    width: 100%

    &:focus,
    &:active
      outline: none

    &:focus + label,
    &.has-value + label
      top: -10px
      font-size: 12px
    &.ng-invalid

button[type="submit"]
  background: transparent
  padding: 3px 10px
  display: flex
  justify-content: center
  align-items: center
  will-change: transform
  transition: all .2s ease
  border: 2px solid
  cursor: pointer
  outline: none
  text-align: center

  &:disabled

  &:hover:enabled

  &.submitting,
  &.success,
  &.error
    padding-right: 3px
    padding-left: 3px
    border-radius: 50%
    border-width: 2px
    pointer-events: none
    animation: loader .5s linear infinite
    .text
      display: none
  &.success,
  &.error
    animation: none

  fa-icon
    margin-top: 4px
    display: block

@keyframes loader
  0%
    transform: rotateZ(0)
  100%
    transform: rotateZ(360deg)