<div class="input-group">
    <app-input [inputData]="inputData" [form]="form" *ngIf="type === inputTypes.Input"></app-input>
    <app-checkbox [inputData]="inputData" [form]="form" *ngIf="type === inputTypes.Checkbox"></app-checkbox>

</div>