.input-wrapper
  label
    color: #3d3d3d

  input
    border-bottom-color: #3d3d3d
    color: #3d3d3d

    &:focus + label,
    &.has-value + label
      color: #9F9F9F
    &.ng-invalid
      background: red

button[type="submit"]
  background: transparent
  border-color: #3d3d3d

  &:disabled
    background: red

  &:hover:enabled
    color: $c-alabaster
    background: $c-submit-button

  &.submitting,
  &.success,
  &.error
    background: transparent
    border-right-color: transparent
    border-left-color: transparent
  &.success,
  &.error
    border-right-color: #3d3d3d
    border-left-color: #3d3d3d