[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button
  box-sizing: content-box

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button
  background: none
  border: 0
  color: inherit
  font: inherit
  line-height: normal
  overflow: visible
  padding: 0
  -webkit-appearance: button
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none

input::-moz-focus-inner,
button::-moz-focus-inner
  border: 0
  padding: 0

/* Make `a` like a button */
[role="button"]
  color: inherit
  cursor: default
  display: inline-block
  text-align: center
  text-decoration: none
  white-space: pre
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none