<form [ngClass]="classList" (submit)="submitFunction($event)" [formGroup]="form">
    <div *ngIf="serverErrors.length !== 0">
        Server errors:
        <ul>
            <li *ngFor="let error of serverErrors">{{ error }}</li>
        </ul>
    </div>

    <app-inputs *ngFor="let inputField of inputFields"
               [form]="form"
               [inputData]="inputField"
    >
    </app-inputs>

    <button
            #submit
            type="submit"
            [ngClass]="{
                'ready': state === 1,
                'submitting': state === 2,
                'success': state === 3,
                'error': state === 4
            }"
            [disabled]="!form.valid || onCooldown"
    >
        <span class="text">{{ submitButtonText }}</span>
        <fa-icon *ngIf="submitButtonIcon" [icon]="submitButtonIcon"></fa-icon>
    </button>

</form>